img {
    width: 100%;
    height: 100%;
  }
  .espaco{
    margin: 3%;
    font-size: large;
  }


  .navbar-brand {
    width: 150px;
    height: 100%;
  }

  .navbar {
        background-image: linear-gradient(to right,
              #bcf8dc,
              #dcfaed,
              #d7f1f7,
              #cfe4ee,
              #add6ff,
              #3173B6)
  }

  body{
    background-image: linear-gradient(
      to right,
      #bcf8dc,
      #dcfaed,
      #d7f1f7,
      #cfe4ee,
      #add6ff,
      #3173B6
    )
  }

  .borda{
    border:solid;
    padding: 20px;
    margin: 2% ;
    border-color:rgb(0, 0, 0);
}

  .color8 {
    background-color: #a3deeb;
  }

  .sizeLogo{
    width: 220px;
    height: 100px;
  }

  .sizeImg1{
    
    width: 700px;
    height: 600px;
    align-items: center;
    justify-content: center;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    text-align: center;
    align-items: center;
  }

  .centro{
    display: flex;
      justify-content: center;
      align-items: center;
  }
  .user_login{
    height: 40px;
    width: 40px;
  }