img {
    width: 100%;
    height: 100%;
  }
  .espaco{
    margin: 3%;
    font-size: large;
  }
  footer{
        width: 99%;
  }
  .navbar-brand {
    width: 150px;
    height: 100%;
  }

  .navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
        background-image: linear-gradient(to right,
              #bcf8dc,
              #dcfaed,
              #d7f1f7,
              #cfe4ee,
              #add6ff,
              #3173B6)
  }

  body{
        width: 100%;
    background-image: linear-gradient(
      to right,
      #bcf8dc,
      #dcfaed,
      #d7f1f7,
      #cfe4ee,
      #add6ff,
      #3173B6
    )
  }
  .borda{
    border:solid;
    padding: 20px;
    margin: 2% ;
    border-color:rgb(3, 1, 100);
}
.borda2{ 
  padding: 13px;
  margin: 2% ;
  border-color:rgb(0, 0, 0);
  
}

  .color8 {
    background-color: #a3deeb;
  }

  .sizeLogo{
    width: 220px;
    height: 100px;
  }
  .sizeLogoLogin{
    height: 350px;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(3, 1, 100)
  }

  .centro{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .user_login{
    height: 40px;
    width: 40px;
  }

 p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.textConsul{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}

h1{
  font-style: oblique;
}

.row-form {
  position: relative;
  left: -4px;
}
